body{
	margin: 0;
	background: #f0efef;
	font-family: Quicksand;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0px 20px;
	padding: 0;
}
nav	ul li{
	list-style: none;
	margin: 0px 10px;
}
nav ul li a{
	text-decoration: none;
	color: #f0efef;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
nav ul li a:hover{
	background: #222;
	transition: 1s;
}
h2{
	font-family: Oswald;
	color: #333;
	font-size: 30px;
	margin: 15px 0px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #333;
}
img{
	width: 500px;
	height: auto;
	max-width: 100%;
}
.header{
	font-family: Oswald;
	color: #f0efef;
	background: #333;
}
#mainHead{	
	text-decoration: none;
	padding: 0px 20px;
	font-size: 40px;
	margin: auto;
	color: #f0efef;
	background: #333
}
.paragraph-heading{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
}
.paragraph-content{
	margin: 0px 100px;
}
.heading{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
}
.image-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.image-row{
	margin: auto;
	padding: 20px;
}
footer{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
footer h1{
	font-size: 10px;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center
}
form ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	margin:auto;
}
form ul li{
	margin: 5px 0px 0px 0px;
}
form ul li label{
	display: flex;
}
form ul li select, form ul li input{
	width: 225px;
	padding: 5px;
	border: 0.75px solid #333;
	border-radius:1em;
}
form ul li p{
	color: red;
	font-style: italic;
	font-size: 14px;
	padding: none;
	margin: none;
}
.clear{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.clear button{
	margin: 10px 5px 0px 5px;
}
button{
	display:inline-block;
	padding:0.6em 1.5em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: Oswald;
	font-weight:400;
	font-size: 15px;
	color: #333;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.5s;
}
button:hover{
	border-color: #333;
}
@media only screen and (max-width: 600px){
	body{
		width: 100%;
		min-width: 425px;
	}
	html{
		width: 100%;
		min-width: 425px;
	}
	.image-container{
		margin: auto;
	}
	.paragraph-heading h2{
		font-size: 30px;
	}
	#mainHead{
		font-size: 50px;
		text-decoration: none; 
		color: #f0efef;
		text-decoration: none; 
		color: #f0efef;
	}
	header nav ul li a{
		text-decoration: none; 
		color: #f0efef;
		font-size: 20px;
	}
}