body{
	margin: 0;
	background: #f0efef;
	font-family: Quicksand;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0px 20px;
	padding: 0;
}
nav	ul li{
	list-style: none;
	margin: 0px 10px;
}
nav ul li a{
	text-decoration: none;
	color: #f0efef;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
nav ul li a:hover{
	background: #222;
	transition: 1s;
}
h2{
	font-family: Oswald;
	color: #333;
	font-size: 30px;
	margin: 15px 0px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #333;
}
img{
	width: 500px;
	height: auto;
	max-width: 100%;
}
.header{
	font-family: Oswald;
	color: #f0efef;
	background: #333;
}
#mainHead{	
	text-decoration: none;
	padding: 0px 20px;
	font-size: 40px;
	margin: auto;
	color: #f0efef;
	background: #333
}
.paragraph-heading{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
}
.paragraph-content{
	margin: 0px 100px;
}
.image-heading{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
}
.image-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.image-row{
	margin: auto;
	padding: 20px;
}
footer h1{
	font-size: 10px;
	margin: 0px 0px 10px 20px;
}
#aboutP p{
	padding: 10px;
}
@media only screen and (max-width: 600px){
	body{
		width: 100%;
		min-width: 450px;
	}
	.image-container{
		margin: auto;
	}
	#mainHead{
		font-size: 50px;
		text-decoration: none; 
		color: #f0efef;
		text-decoration: none; 
		color: #f0efef;
	}
	header nav ul li a{
		text-decoration: none; 
		color: #f0efef;
		font-size: 20px;
	}
}